body{
    padding: 63px 25px;
    background: linear-gradient(#FEFEFE, #888888);
}

.caja{
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.imagen{
    transition: 1s;
}

.imagen:hover{
    transform: scale(1.2);
}

.input-padron{
    border: #FEFEFE;
    width: 300px;
    position: relative;
    margin: 10px 40px;
}

.enviar{
    width: 10%;
    padding: 15px 0;
    margin: auto 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(71, 107, 173);
    border: none;
    border-radius: 25px;
    transition: 1s;
    cursor: pointer;

}

.enviar:hover{
    background: rgb(10, 28, 44);
    transform: scale(1.2);
}

.textarea{
    margin: 50px 10px;
    border-radius: 20px;
    border: #FEFEFE;

}
