body{
    padding: 63px 25px;
    background: linear-gradient(#FEFEFE, #888888);
}
.imagen{
    transition: 1s;
}

.imagen:hover{
    transform: scale(1.2);
}

.enviar{
    width: 10%;
    padding: 15px 0;
    margin: auto 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(71, 107, 173);
    border: none;
    border-radius: 25px;
    transition: 1s;
    cursor: pointer;

}

.enviar:hover{
    background: rgb(10, 28, 44);
    transform: scale(1.2);
}