body{
    padding: 63px 25px;
    background: linear-gradient(#FEFEFE, #888888);
}

.enviar{
    padding: 15px;
    margin: auto 70px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(71, 107, 173);
    border: none;
    border-radius: 25px;
    transition: 1s;
    cursor: pointer;

}

.enviar:hover{
    background: rgb(10, 28, 44);
    transform: scale(1.2);
}


.textarea{
    margin: 50px 10px;
    border-radius: 50px;
    border: #FEFEFE;

}

.headerPrincipal-titulo{
    font-weight: bold;
    font-size: 40px;
    align-items: center;
}

.contenidoPrincipal-texto{
    margin-top: 50px;
    border-radius: 10px;
}

.criterio{
    margin-top: 15px;
}

.footerPrincipal-patrocinadores-list{
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    
}
